@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
html{
    scroll-behavior: smooth;
}
/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Work Sans', sans-serif;
    transition: all .03s ease;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .navbar-nav li {
    list-style: none;
    display: inline-block;


}
.navbar .navbar-nav li a{
    color: #232323;
    text-decoration: none;
    font-size: 17px;
    font-weight: 50;    
    transition: color 0.3s ease;
    margin-left:15px;
}
#contactlink{
    margin-right:70px;
}
#aboutlink{
    border-bottom:1.5px solid #232323;
    padding-bottom:5px; 
}

.navbar .navbar-nav li a:hover{
    color:;
    border-bottom:1.5px solid #232323;
    padding-bottom:5px; 
    transition: 
}
/*.navbar .logo a{
    color: black;
    font-size: 27px;
    font-weight: 650;
    font-family:'BIZ UDPGothic', sans-serif;
}*/

.navbar-brand img{
    width:6%;
    margin-left:-18px;
    margin-top:12px;
}
#me{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:12%;
    border-radius: 2000px;
    margin-top:40px;
}
.hello{
    margin-top:20px;
    text-align: center;
    font-size:32px;
    font-family:'Work Sans', sans-serif;
}
.text2{
    text-align:center;
    margin-left:310px;
    margin-right:310px;
    font-size:19px;
    font-family:'Work Sans', sans-serif;   
}
.text3{
    text-align:center;
    margin-left:360px;
    margin-right:360px;
    font-size:18px;
    font-family:'Work Sans', sans-serif;
    color:#635F5F;
}
.text4{
    text-align:center;
    margin-left:360px;
    margin-right:360px;
    font-size:18px;
    font-family:'Work Sans', sans-serif;
    color:#635F5F;
}
.text5{
    text-align:center;
    margin-left:360px;
    margin-right:360px;
    margin-bottom:100px;
    font-size:18px;
    font-family:'Work Sans', sans-serif;
    color:#635F5F;
    
}
/*icons*/
.icons{
    text-align: center;
    padding:30px;
  }
  .uil{
      margin:30px;
      color:#232323;
  }
  .uil:hover{
      color:#9C9C9C;
      transition: color 0.2s ease;
  }

  /*text animation*/
.hello{
    -webkit-animation-fill-mode:both;
    -webkit-animation-duration:2s;
    animation-duration:2s;
  }
  .text2{
    animation-delay:.5s;
    -webkit-animation-delay:.5s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-duration:2s;
    animation-duration:2s;
  }
  .text3{
    animation-delay:.7s;
    -webkit-animation-delay:.7s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-duration:2s;
    animation-duration:2s;
  }
  .text4{
    animation-delay:.7s;
    -webkit-animation-delay:.7s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-duration:2s;
    animation-duration:2s;
  }
  .text5{
    animation-delay:.7s;
    -webkit-animation-delay:.7s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-duration:2s;
    animation-duration:2s;
  }
  @-webkit-keyframes fadeOutUp {
      0% {
          opacity: 0;
          -webkit-transform: translateY(1);
      -webkit-transform: translateY(40px);
      }	100% {
          opacity: 1;
      }
  }
  
  .fadeOutUp {
      -webkit-animation-name: fadeOutUp;
      animation-name: fadeOutUp;
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
  }
  
  @-webkit-keyframes fadeIn {
      0%{
      opacity: 0;
          -webkit-transform: translateY(1);
      -webkit-transform: translateY(40px);
    }
    100% {
          opacity: 1;
      }
    }
  

     
      
  
  span{
    color:#1AD98B;
  }