@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/*html styling*/
html{
    scroll-behavior: smooth;
}
html, body {
    margin:0;
    height:100%;
  }
/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Work Sans', sans-serif;
    transition: all .03s ease;
    background-color: transparent;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .navbar-nav li {
    list-style: none;
    display: inline-block;


}
/*nav bar item styling*/
.navbar .navbar-nav li a{
    color: #ffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 50;    
    transition: color 0.3s ease;
    margin-left:15px;
}


#contactlink{
    margin-right:70px;
}
#worklink{
    border-bottom:1.5px solid #F7F7F7;
    padding-bottom:5px; 
}
.navbar .navbar-nav li a:hover{
    color:;
    border-bottom:1.5px solid #F0F0F0;
    padding-bottom:5px; 
    transition: 
}
/*.navbar .logo a{
    color: black;
    font-size: 27px;
    font-weight: 650;
    font-family:'BIZ UDPGothic', sans-serif;
}*/

.navbar-brand img{
    width:5%;
    margin-left:-18px;
    margin-top:13px;
}
/*background image for home*/
.home{
    /*display: flex;*/
    background-color:#deaba8;
    /*background-size:1280px;
    min-height: 500px;
    width:100%;*/

}
/*text styling*/
.hello{
    color:#ffff;
    font-size:40px;
    font-weight:600;
    font-family: 'Work Sans', sans-serif;
    margin-top:10px;
    text-align:center;
}
.text2{
    color:#ffff;
    font-size:18px;
    font-family: 'Work Sans', sans-serif;
    font-weight:normal;
    margin-top:100px;
    margin-bottom:170px;
    text-align:center;
}
/*text animation*/
.hello{
    -webkit-animation-fill-mode:both !important; 
    -webkit-animation-duration:2s !important;
    animation-duration:2s !important;
  }
  .text2{
    animation-delay:.5s;
    -webkit-animation-delay:.5s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-duration:2s;
    animation-duration:2s;
  }
  @-webkit-keyframes fadeOutUp {
      0% {
          opacity: 0 !important;
          -webkit-transform: translateY(1) !important;
      -webkit-transform: translateY(40px) !important;
      }	100% {
          opacity: 1 !important;
      }
  }
  
  .fadeOutUp {
      -webkit-animation-name: fadeOutUp;
      animation-name: fadeOutUp;
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
  }
  
  @-webkit-keyframes fadeIn {
      0%{
      opacity: 0;
          -webkit-transform: translateY(1);
      -webkit-transform: translateY(40px);
    }
    100% {
          opacity: 1;
      }
  }
figure{

  display: flex;
  justify-content: center;
  text-align: center;
}
.photo{
  width:30%;
  border: solid 8px white;
  box-shadow: 0px 0px 5px #949494;
  margin:10px;
}
#building, #bubbles, #stairs{
  margin-top:80px;
}
.gradient{
  background-image: linear-gradient(180deg, #deaba8, white);
  background-repeat: no-repeat;
  margin-bottom:100px;
}
/*image fade*/
.photo {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
}

/*icon*/
.icons{
  text-align: center;
  padding:30px;
}
.uil{
    margin:30px;
    color:#232323;
}
.uil:hover{
    color:#9C9C9C;
    transition: color 0.2s ease;
}